@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.75rem;
    --chart-1: oklch(80.9% 0.105 251.813);
    --chart-2: oklch(62.3% 0.214 259.815);
    --chart-3: oklch(81% 0.117 11.638);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: oklch(80.9% 0.105 251.813);
    --chart-2: oklch(62.3% 0.214 259.815);
    --chart-3: oklch(81% 0.117 11.638);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-poppins tracking-[0.02em];
    @apply bg-background font-poppins text-sm tracking-[0.02em] text-foreground;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#__next,
.app {
  height: 100%;
  width: 100%;
}

/* Amplify login page styling */
.amplify-tabs__item {
  font-size: 14px !important;
  padding: 12px !important;
}

.amplify-label {
  font-size: 13.5px !important;
  letter-spacing: 0.3px !important;
}
.amplify-input {
  font-size: 13px !important;
}

.amplify-button.amplify-field-group__control.amplify-button--primary {
  background-color: #1447e6 !important;
  color: #fff;
  font-size: 13px !important;
  margin-top: 12px;
}
.amplify-button.amplify-field-group__control.amplify-button--link.amplify-button--small {
  color: #fff !important;
  font-size: 12px !important;
  font-weight: 300;
}

.amplify-button--link:hover {
  background: transparent !important;
  color: #fff !important;
  transform: none !important;
  box-shadow: none !important;
}

.amplify-tabs__item--active {
  color: #fff !important;
  border-color: #1447e6 !important;
}

.amplify-tabs {
  border: none !important;
  border-radius: 12px !important;
  overflow: hidden !important;
}

[data-amplify-authenticator] [data-amplify-router] {
  border-radius: 3px !important;
  border-style: none !important;
}

.amplify-tabs__list {
  border: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
